/* completely hiding radio button */
input[type="radio"] {
    display: none;
  }
  /* simulate radiobutton appearance using pseudoselector */
  input[type="radio"] + label:before {
    content: "";
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    margin-right: 5px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
  }
  /* appearance of checked radiobutton */
  input[type="radio"]:checked + label:before {
    background-color: green;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
 
  