<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <ul class="nav-item">
      <li class="nav-link">
        <a routerLink="home">Home</a>
      </li>
      <li class="nav-link">
        <a routerLink="about">About</a>
      </li>
      <li class="nav-link">
        <a routerLink="contact">Contact</a>
      </li>
      <li class="nav-link">
        <a routerLink="department">Departmemt</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
